h1 {
color: red;
text-align: center;
justify-content: space-between;
align-items: center;

}
ul{
    list-style:square;
    
    
}
button{
    background-color: black;
    color:purple;
    border: yellow .5px solid;
    
}
footer{
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:black;
  color: purple;
  text-align: center;
  border-top: 1px solid yellow;
}
